body {font-family: "Open Sans", sans-serif;
    text-align: center;
    margin:auto;

}

h1{
    font-family: "Dosis", sans-serif;
    
}

span {
   color:rgba(238, 36, 255, 1);

}   

#hero{
    margin-top: 64px;

}